.catagroies{
    margin: 95px 0 0 0;
}
#tttt{
    background-color: aqua;
}
.information_update {
    display: flex;
    gap: 20px;
    margin: 28px;
    justify-content: start;
}
.jjj{
  width: 25%;
 
}
#tttt {
    display: block; 
  }
  
  /* Hide on screens 1024px or smaller */
  @media screen and (max-width: 1024px) {
    #tttt {
      display: none;
    }
    .information_update {
        justify-content: center;
        align-items: center ;
    }
  }
  