.mainlll {
    width: 350px;
    height: 100%; /* Adjust the height as needed */
  gap: 50px;
  
  }
  @media screen and (max-width:1024px) {
    .mainlll {
        display: none;
    }
  }
  
  .mainlll::-webkit-scrollbar {
    width: 0px;  /* Hide the scrollbar */
    background: transparent;  /* Optional: Remove scrollbar background */
  }
  
  .mainlll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .mainlll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  