@font-face {
    font-family: popp1;
    src: url(../../assests//fonts/popp1.ttf);
}
*{
    font-family: popp1;
}
.saleup{
    display: flex;
    background: rgb(27, 27, 27);
    height: 400px;
    border-radius: 20px;
    margin: 50px;
    overflow: hidden;
}
.laptopImg img{
    height: 700px;
     width: 1000p;
   margin-left:150px;
   margin-top: -150px;
     
}
.saleButton {
    background-color: rgb(237, 164, 21);
    transition: all ease 1s;
    color: white;
    font-size: 14px;
    font-weight: 700;
  
}

.saleButton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
.saleUpInfo{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-left: 800px;
    text-align: center;
    margin-top: 70px;
gap: 36px;
}
.saleUpInfo h1{
 
    font-size: 41px; 
    font-weight: 700;
     color: rgba(46, 143, 197, 1);
}
.saleUpInfo p{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
@media screen and (max-width:1120px) {
    .saleUpInfo{
        margin-left: 100px;
    }
    .laptopImg img{
        margin-left:10px;
        margin-top: -150px; 
        width: auto;
    }
    .saleup{
        width: auto;
        margin: 25px;
    }
}
@media screen and (max-width:400px) {
    .saleup{
        width: auto;
        margin: 10px;
    }
    .saleUpInfo{
        margin-left: 10px;
        z-index: 0;
      
    }
    .saleUpInfo h1{
        font-size:15px;
        color: #000;
    }
    .laptopImg {
      
    }
    .laptopImg img{
   margin-top: 100px;
       height: 200px;
       width: 900px;
  
  
    }
    .saleup{
        position: relative;
        width: auto;
       
    }
}